
%p Winner winner!! - this is the index page.

%p this is a big block of things. 
%p= Forgery(:lorem_ipsum).words(200)
.people-list
  - @people.each do |person|
    -# person = person[0]
    %p= person[1]["name"]
